*{margin:1; padding:0}
body { background-color: #ccc; font-family: arial, sans-serif; font-size:14px}
h1 {font-size: 2.5em;}
h2 {font-size: 1em; font-weight: bolder;}
nav li {display:inline; padding-right: 1.1em}
#img {background-color: grey; width:49%; float:left;}
#info {background-color: grey; width:49%; float:left;}
#education {background-color: grey; width:49%; float:left;}
.clearfix {overflow: auto;}