body { 
	background-color: #ccc; 
	font-family: arial, sans-serif; 
	font-size:14px
}

*{
	margin:1; padding:0
}

nav {
	background-color: #ccc; 
	text-align: middle;
	text-align: center;
}

nav li {
	display:inline; 
	margin: 0 auto;
}

.clearfix {
	overflow: auto;
}



#page-wrap {
     width: 800px;
     margin: 0 auto;
}


header {
	text-align: center
}

footer {
	text-align: center;
	float: clear;
}

section {
	text-align: center;	
	align-content: center;
}

article { margin: auto;

}

h1 {
	text-align: center
}

img {
	border: 5px solid;
	border-color: whitesmoke;
}

ul
{
list-style-type: none;
}