
        * {margin:0; padding:0;}
        body { background-color: powderblue; font-family: arial, sans-serif; font-size: 14px;}
        h1 {font-size: 1.5em;}
        h2 {font-size: 1em; font-weight: normal;}
        header { background-color: crimson; padding: 2%; width: auto}
        footer { background-color: crimson; padding: 2%; clear:both;}
        main { background-color: peachpuff; padding: 2%;}
        #wrapper { background-color: powderblue; max-width: 900px;
        margin: 0 auto;}
        nav { background-color: powderblue; text-align: left;}
        nav li { display: inline; padding-right: 1.1em;}
        nav a {color: floralwhite; text-decoration-line:none;}
        nav a:hover { text-decoration: underline;}
        #image {background-color: aquamarine; width: 49%; float:left;}
        #text {background-color: bisque; width: 49%; float:left; margin-left: 2%;}
        .clearfix { overflow: auto;}
        ul { list-style-type: none;}