     * {margin:0; padding:0;}
     body {font-family: arial, sans serif; font-size: 14px;}
     h1 { font-size: 1.5em; color: darkblue}
     h2 { font-size: 1em; color: darkblue}
     header { background-color: cornflowerblue; padding:2%;}
     footer { background-color: cornflowerblue; padding:2%; clear: both; color: white}
     main   { background-color: white; padding:2%;}
     #wrapper { background-color: #ccc; max-width: 900px; margin: 0 auto; padding:2%;}
     nav {background-color: white; text-align: right:;}
     nav li {display: inline; padding-left: 0.5em;}
     nav a {color: darkblue; text-decoration: none;}
     nav a:hover {text-decoration: underline;}
     #image { background-color: white; width: 30%; float: left; color: darkblue}
     #text { background-color: white; width: 25%; float: left; margin: 2%;}
     .clearfix { overflow: auto;}
     ul {list-style-type: none;}
     #list1 {color: darkblue}
     #list2 {color: darkblue}