table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

nav {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: thin solid black;
    display: block;
}

ol,
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

li {
    padding: 5px;

}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #5cdb95;
}

a:active {
    color: black;
}

a:checked {
    color: black;
}

caption,
th {
    text-align: left;
}

h1 {
    margin-left: 5px;
    padding: 2%;
    font-weight: bolder;
    font-family: 'Libre Baskerville', serif;
    clear: both;
    font-size: 20px;
}

h2 {
    margin-left: 5px;
    margin-bottom: 1px;
    font-weight: bolder;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    padding-bottom: 0px;
}

h3 {
    margin-left: 5px;
    padding: 2%;
    margin-top: 1px;

    font-family: 'Roboto', sans-serif;
    color: #5cdb95;
    font-size: 12px;
}

h4 {
    font-size: 10px;
    margin-bottom: 10px;
    text-align: right
}

h5 {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 5px;

}

h6 {
    font-family: 'Roboto', sans-serif;
    color: #5cdb95;
    font-size: 12px;
    text-align: right;
}

.preview {
    display: none;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}



body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    /*  min-width: 250px;  */
    max-width: 1000px;
    margin: 0 auto;

}

img {
    max-width: 100%;
    margin-top: 5px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#logo {
    width: 100px;
    height: 50px;
}

/* Header
-----------------------------------------------------------------------------*/

.header {
    height: auto;
    background: #FFFFFF;
}


/* Middle
-----------------------------------------------------------------------------*/

.content {}

p {
    margin-left: 5px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;


}

#article4,
#article5,
#article6,
#article7,
#article8,
#article9 {
    width: 40%;
    height: 275px;
    float: left;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 5px;
    display: block;
    border: thin solid black;
    padding-bottom: 12px;



}

#about {
    background-color: #5cdb95;
    width: auto;
    padding-bottom: 10px;


}

#home_backg {
    padding-top: 5px;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    height: auto;
    background: #ffffff;
    border-top: thin solid black;

}

@media only screen and (min-width: 480px) {
    header {
        background-color: whitesmoke;
    }

    article img {
        max-width: 50%;
        float: left;
        padding-right: 2%;
    }
    #article2 {
        clear: both;
    }
    #article3 {
        clear: both;
    }

    li {
        display: inline;
    }
    #logo {
        position: absolute;
        left: auto;
    }
    footer {
        clear: both;
    }
    .right {
        display: flex;
        flex-flow: column wrap;
        text-align: left;

    }
    img:not(#home_backg) {
        max-width: 32%;
        max-height: 300px;
        margin-top: 5px;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: 5px;
    }

    li {
        display: inline;
    }

    nav {
        padding-top: 10px;
    }
    /*  .top {
        display: flex;  
  flex-flow: column wrap;
  text-align: right;
    } */
    .bottom {
        display: flex;
        flex-flow: column wrap;
        text-align: left;
        padding-top: 20px;
    }
    /* try using clearfix */
    #article4,
    #article5,
    #article6,
    #article7,
    #article8,
    #article9 {

        height: 160px;

    }
    .top {
        padding-top: 5px;
    }

}

@media only screen and (min-width: 800px) {
    #article4,
    #article5,
    #article6,
    #article7,
    #article8,
    #article9 {

        height: 200px;
    }


}

@media only screen and (min-width: 1024px) {
    header {
        background-color: whitesmoke;
    }

    #article1 {
        width: 46%;
        float: left;

    }
    #article2 {
        width: 46%;
        float: left;
        clear: none;
    }
    #article3 {
        width: 46%;
        float: left;
        clear: none;
    }
}