html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    height: 100%;
  background-image: url(../images/pattern.jpg)
}

.wrapper {
    width: 100%;
    min-height: 120%;
    height: auto !important;
}

/* Middle
-----------------------------------------------------------------------------*/

#note {    
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.1em;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    display: block;
    width: 70%;
    padding: 10% 15% 0% 15%;
    z-index: 1;
    
    background-image: url(../images/bg_03.webp);
    background-size: cover;
}

article {
    position: relative;
    display: block;
    width: 75%;
    margin: 0 auto;
    top: 1.3em;
    font-family: "Montserrat";
    font-size: 1.42em;
    text-align: justify;
    font-style: italic;
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

p {
    margin-bottom: 1em;
    line-height: 1.4em;
    
}


/* @media
-----------------------------------------------------------------------------*/

@media only screen and (min-width:760px) {

#note {
    position: relative;
    display: block;
    width: 80%;
    height: 3em;
    margin: 0 auto;
    background-image: url(../images/bg_03.webp);
    background-size: cover;
    padding: 7em 0 0 0; 
    }

    article {
        text-align: center;
        width: 70%;
        top: 2em
    }  
    
    .wrapper {
    width: 100%;
    min-height: 91%;
    }
}
