html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    height: 120%;
    background-color: grey
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Middle
-----------------------------------------------------------------------------*/

/* section1---------------------------------------*/

.parallax1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    background-image: url(../images/backround_02.jpg);
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* section2---------------------------------------*/

.misha {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.2em;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    display: block;
    width: 70%;
    padding: 4% 15% 0% 15%;
}

#misha {
    width: 100%;
    height: 30vh;
    position: relative;
    display: block;
    background-image: url(../images/bg_01.jpg);
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h5 {
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: .9em;
    line-height: 3em;
    text-align: right;
    position: relative;
    display: block;
    font-style: italic;
}

#velkomen {
    width: 100%;
    height: 28vh;
    position: relative;
    display: block;
    background-image: url(../images/pattern.jpg);
    background-attachment:scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}


.note {    
    color: #2b2b2b;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2em;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    display: block;
    width: 70%;
    padding: 5% 15% 5% 15%;
    z-index: 1
}

.horizontal {
    position: relative;
    width: 9em;
    height: .3em; 
    background-color: #92c83e;
    margin: 0 auto;
}

/* images---------------------------------------*/

.images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.imgchild {
    position: relative;
    flex: 1 1 40%;
    margin: 0;
    overflow: hidden;
    filter: brightness(90%);
}

img {
    display: block;
    width: 100%;

}

.imgchild:hover {
    z-index: 2;
    position: relative;
    transition: 0.2s ease-in-out;
    /*    -webkit-transition: 0.2s ease-in-out;*/
    /*    -moz-transition: .2s ease-in-out;*/
    /*    -o-transition: .2s ease-in-out;*/
    transform: scale(1.02);
    /*    -webkit-transform: scale(1.02);*/
    /*    -moz-transform: scale(1.02);*/
    /*    -o-transform:scale(1.02)*/
}

.imgchild:hover img {
    /*        opacity: .83;*/
    filter: brightness(30%);
    transition: .3s ease-in-out;
    /*    -webkit-transition: 0.2s ease-in-out;
    /*    -moz-transition: .2s ease-in-out;*/
    /*    -o-transition: .2s ease-in-out;*/
    transform: scale3d(1.2, 1.2, 1);
    /*    -webkit-transform: scale3d(1.2, 1.2, 1);*/
    /*    -moz-transform: scale3d(1.2, 1.2, 1);*/
    /*    -o-transform: scale3d(1.2, 1.2, 1);*/
}

.links {
    color: white;
    display: none;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 2.5em;
    line-height: 1em;
    text-shadow: 0 0 9px green;
    text-align: center;
}

.imgchild:hover > .links {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* section3---------------------------------------*/

#flower {
    width: 100%;
    height: 60vh;
    position: relative;
    display: block;
    background-image: url(../images/bg_05.jpg);
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noteflower {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    display: block;
    width: 90%;
    padding: 11% 5% 5% 5%;
    z-index: 1
}

/* delivery---------------------------------------*/

#delivery {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; 
    background-image: url(../images/pattern.jpg);
    background-attachment:scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.k {
   color: #92c83e;
    font-weight: 600;
    font-size: 1.6em;
    display: inline;
    line-height: 1.4;
}
.kr{
    display: inline;
}

#district {
    margin: 0 3%;
}

#kirke {
    margin: 0 9%; 
}

#district, #kirke {
    color: #2b2b2b;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.4em;
    position: relative;
    display: block;
    z-index: 1;
    text-align: center;
}

.vertical {
    position: relative;
    width: .3em;
    height: 12em; 
    background-color: #92c83e;
    margin: 0 auto;
}

/* open---------------------------------------*/

#open {
     width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; 
    background-image: url(../images/bg_04.jpg);
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#days {
    margin: 0 11% 0 15%;
    text-align: right;
}

#hours {
    margin: 0 8%
}

#days, #hours {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.4em;
    position: relative;
    display: block;
    z-index: 1
}

/* contact---------------------------------------*/

#icons {
    position: relative;
    display: block;
    width: 2em;
    margin-right: 1em;
}

#catakin {
     width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; 
    background-color: #2b2b2b;
}

#catakin img {
    padding-top: 1em
}

#contact {
    position: relative;
    display: block;
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1em;
    line-height: 2.6;
    margin-left: 1em;
    margin-top: 1em
}

#contact a:link {
    color: #92c83e;
}

#contact a:hover {
    color: white;
}

#contact a:visited {
    color: #92c83e;
}

#map1 {
    display: none;
}
#map2 {
    height: 30vh;
    background-image: url(../images/map2.webp);
    background-position: center;
    background-size: cover
}


/* @media
-----------------------------------------------------------------------------*/
@media only screen and (min-width:760px) {
    
/* main---------------------------------------------*/
 .logo img {
        position: relative;
        display: block;
        margin: 0;
        padding: 20% 30% 21% 30%;
        width: 40%;
    }

    .parallax1 {
    background-image: url(../images/background_01.jpg);
}
   
    /* section2---------------------------------------*/

.misha {
    font-size: 4.2em;
    padding: 21% 15% 0% 15%;
}
    
#misha {
    background-image: url(../images/bg_01.jpg);
    height: 100vh;
}

#velkomen {
    height: 60vh;
    background-image: url(../images/pattern.jpg);
}

 /* images---------------------------------------*/   
.imgchild {
    flex: 1 1 25%;
}
/* delivery---------------------------------------*/
    .noteflower {
    font-size: 1.8em;
    line-height: 1.6em;
    width: 60%;
    padding: 4% 20% 5% 20%;
 }
    
    #delivery{
        height: 32vh
    }
    
 .k,
.kr {
      display: none;
}

#district {
    margin: 0 11% 0 15%;
  }
#kirke {
  margin: 0 15.8%;
     min-height: 5.5em;
  }

#district, #kirke {
   font-size: 2em ;
   display: block; 
   transition:  2s ease;
}
    
#price1 :hover {
        background-image: url(../images/01.svg);
        background-repeat: no-repeat;
        background-position: center;
        min-height: 5.5em;
        transition: .5s ease;
        }
    
 #price2 :hover {
        background-image: url(../images/02.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 5.5em;
        transition:  .5s ease;
    }
    
    .hidden :hover{
      opacity: 0;
      transition: .1s ease;
    }
     
/* open---------------------------------------*/
    #open {
    height: 60vh;
}

#days {
    margin-left: 19%;
    text-align: right;
}

#hours {
    margin-right: 18%
}

#days, #hours {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.4em;
    position: relative;
    display: block;
    z-index: 1
}
    
/* contact---------------------------------------*/
    
   #icons {
    position: relative;
    display: block;
    width: 2em;
    margin-right: 2em;
}

#catakin {
    height: 32vh;
}

#catakin img {
    padding-top: 1.5em
}

#contact {
    font-size: 1.3em;
    line-height: 2.6;
    margin-left: 1em;
    margin-top: 1em
} 
    
    #map1 {
        position: relative;
        display: block;
       width: 25%;
        margin-left: 9em;
        margin-bottom: 1em;
    }
    
    #map2    {
     display: none;
    }
    
}

