html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
}

b { 
    font-weight: bold;
}    /* Creates a function that let's you add <b></b> to a piece of text in html to make it bold */


/* Header
-----------------------------------------------------------------------------*/
.header {

}

#header {
    width: 100%;
}


    /* Main Navigation */ 

nav {
    text-align: center;
    background: black;
    padding: 1%;
}

nav li {
    display: inline;
    padding: 1%;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


    /* Navigation on article page */

#articlenav { 
    margin-top: 0.5%;
    padding: 0.7%;
}

#articlenav a {
    font-size: 1.1em;
}

#articlenav a:hover {
    color: yellow;
}


#active {
    color: yellow;
}   /* effects the active page in the nav by adding the id="active" to the page name in html */


/* Middle
-----------------------------------------------------------------------------*/
.content {
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#maincontent {      /* Content on the index page */
    padding-top: 0.5%;
}

section {
    text-align: center;
    border: solid 2px;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;
}

section div {
    display: inline;
}

#indeximg {
   width: 89%;
    margin-top: 3%;
    
}


        /* Links on the bottom of the index page */

#indexlinks {       
    border: none;
}

#indexlinks img {
    width: 30%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#indexlinks a:hover {
    opacity: 0.8;
}


/* -- Article preview page -- */

.flexcontainer div {       
    display: inline-block;
}

.flexbox {  /* Article imagebox */
    width: 50%;
}

.flexbox img {
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.flextext {  /* Article textbox */
    width: 49%;
}


/* -- Articles -- */

article {
    line-height: 1.5;
    margin-bottom: 3%;
}

article section {
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%
}

article img {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 70%;
}

article p { /* article paragraphs */
    font-family: 'Quicksand', sans-serif;
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom:1%;
    padding-top:1%;
    font-size: 1.5em;
    line-height: 1.5;
}


#visitpage { 
    color: white;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    background: black;
    padding: 2%;
    text-decoration: none;
}

#visitpage:hover {
    color: yellow;
}


/* -- Text -- */


h1 { /* Main headers */
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 2.2em;
    margin-bottom: 1%;
    margin-top: 2%;
    background-color: black;
    padding: 2.5%;
    line-height: 1.2;
}

#indexh1 {
    font-weight: 400;
}


h2 { /* Article headers */
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
}

h3 { /* Article paragraph headers */
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
}



.flextext h3 {  /* Article Preview headers */
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 10%;
    padding-bottom: 3%;
    text-align: left;
    line-height: 1.2;
}

.flextext p { /* Article  Preview paragraph */
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
    line-height: 1.4;
    text-align: left;
    padding-left: 10%;
    padding-right: 2%;
}

            /* Article Preview (read more buttons) */

#readmore { 
    font-family: Arial, sans-serif;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    background: black;
    padding: 3%;
    text-decoration: none;
}

#readmore:hover {
    color: yellow;
}

.topofpage {
    padding-bottom: 4%;
    padding-top: 6%;
}

#topofpage {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    background: black;
    padding: 1.3%;
}

#topofpage:hover {
    color: yellow;
}



/* Footer
-----------------------------------------------------------------------------*/
.footer {
	max-width: 1000px;
	margin: 0 auto 0;
	height: 100px;
	position: relative;
}

#footer {
    width: 100%;
}






/* BREAKPOINTS
--------------------------------------------------*/



@media only screen and (min-width: 320px) {


.flexbox {  /* Article imagebox */
    width: 90%;
}

.flexbox img {
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.flextext {  /* Article textbox */
    width: 90%;
}

.flextext p {
    text-align: center;
}

.flextext h3 {
    text-align: center;
}
    
h2 { /* Article headers */
    font-size: 1.7em;
}
    
article p {
    font-size: 1.2em;
}
    
h3 {
    font-size: 1.3em;
}
   
.flextext p { /* Article  Preview paragraph */
    padding-left: 2%;
    padding-bottom: 6%;
    padding-right: 2%;
}
    
} /* Breakpoint end */





/* --------------- */


@media only screen and (min-width: 700px) {

.flexcontainer div {       
    display: inline-block;
}

.flexbox {  /* Article imagebox */
    width: 50%;
}

.flexbox img {
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.flextext {  /* Article textbox */
    width: 49%;
}
    
.flextext p {
    text-align: left;
}
    
.flextext h3 {
    text-align: left;
}
    
h2 { /* Article headers */
    font-size: 2.2em;
}
    
article p {
    font-size: 1.5em;
}
    
h3 {
    font-size: 1.6em;
}
    
.flextext p { /* Article  Preview paragraph */
    padding-left: 10%;
    padding-bottom: 6%;
    padding-right: 2%;
}
    
} /* Breakpoint end */