/* Based on template from csslayoutgenerator.com */

body {
  font: 12px/18px Arial, sans-serif;
  line-height: 1.5em;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  line-height: 1.2em;
  font-size: 4em;
  color: white;
  padding: 0 2% 2% 2%;
}

h2 {
  color: white;
  font-size: 2em;
  padding-bottom: 7%;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em;
  margin: 3% 0;
}

h4 {
  font-size: 1em;
}

#wrapper {
  max-width: 1200px;
  min-width: 240px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}


/* Header
-----------------------------------------------------------------------------*/

header {
  background: linear-gradient(#122138, #344f6c, #122138);
  padding: 2%;
}

img {
  width: 100%;
  border-radius: 3%;
}


/* Middle
-----------------------------------------------------------------------------*/

main {
  background-image: url('../images/background/football.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back {
  padding: 2% 2% 0 2%;
  width: 10%;
}

#back:hover {
  box-shadow: 0 0 20px black;
}

.containerRow {
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.containerRow section {
  padding: 2%;
  background: radial-gradient(#70add1, #122138);
  border-radius: 3%;
  color: black;
}

.containerRow2 {
  display: flex;
  width: 70%
}

.item2 {
  width: 50%;
  margin-left: 2%;
}

.item11 {
  width: 33%;
}

.containerRow section ul {
  font-size: 1.2em;
}

.containerRow section ul li {
  color: #e0e0e0;
}

.item2 a:hover {
  text-shadow: 0 0 30px black;
}

.content {
  display: none;
}

.flexbox {
  display: flex;
}

.divimg {
  width: 40%;
}

.divtext {
  color: white;
  width: 60%;
  padding-left: 3%;
}

ol {
  padding-left: 5%;
  font-size: 1.2em;
  color: black;
}

ol li {
  padding: 1%;
}

ol a:hover {
  color: black;
  cursor: pointer;
}

.item1 img {
  width: 80%;
}

.item1 h2 {
  padding: 2%;
}


/* Footer
-----------------------------------------------------------------------------*/

footer {
  padding: 2%;
  display: flex;
  height: auto;
  justify-content: space-between;
  background: linear-gradient(#122138, #344f6c, #122138);
}

footer p {
  color: #cce586;
}

footer img {
  width: 35px;
  height: 35px;
  margin: 0 0 0 30px;
}

footer img:hover {
  box-shadow: 0 0 15px black;
}

@media only screen and (max-width: 900px) {
  .containerRow {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .containerRow section {
    padding: 2%;
    background: radial-gradient(#70add1, #122138);
    border-radius: 3%;
    color: black;
    margin: 1%;
  }
  .item11 {
    flex-grow: 2;
  }
  .item2 {
    flex-grow: 1;
  }
  .containerRow2 {
    display: flex;
    width: 100%
  }
}

@media only screen and (max-width: 500px) {
  .containerRow {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .containerRow2 {
    display: flex;
    width: 94%;
    flex-direction: column;
  }
  .item2 {
    width: 100%;
    margin-left: 2%;
  }
  .item11 {
    width: 100%;
  }
  .item1 img {
    width: 100%;
  }
}