#wrapper {
    max-width: 1145px;
    margin: auto;
}

#wrapperheader {
    width: 100%;
    margin: 0;
}

@media only screen and (min-width: 480px) {
	.nav-bur {
		display: none;
	}
}

.navigation-bar {
    width: 100%;
    height: 100px;
    background-color: white;
    position: absolute;
    margin: auto;
}
.unique {
	color: aqua;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 166.29px;
    height: 64.8px;
    margin-top: 22px;
    margin-right: 300px;
    margin-left: 110px;
    
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: center;
    margin-right: 38px;
    height: 20px;
    line-height: 20px;
    margin-top: 45px;
    text-decoration: none;
    color: black;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: bold;
}

.socialmedia {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-top: 45px;
    margin-right: 12px;
}

.search {
    display: inline-block;
    vertical-align: center;
    margin-right: 25px;
    margin-left: 100px;
    height: 20px;
    line-height: 20px;
    margin-top: 45px;
    text-decoration: none;
    color: #95989A;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: bold;
}


.header {
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 0 0 9px 3px #999;
}

h1 {
    font-family: Rufina;
    font-weight: bold;
    font-size: 42px;
    color: #0F1519;
    text-align: center;
    padding-top: 90px;
    line-height: 52px;
    letter-spacing: -1px;
}

#summery {
    font-family: Open Sans;
    ;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #95989A;
    text-align: center;
    padding-top: 25px;
    line-height: 26px;
}

h2 {
    font-family: Rufina;
    font-weight: bold;
    font-size: 28px;
    color: #0F1519;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 50px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #FFDD6D;
    text-decoration-style: solid;
}

h3 {
    font-family: Rufina;
    font-weight: 100;
    font-size: 30px;
    color: #0F1519;
    padding-left: 103px;
    padding-right: 105px;
    padding-bottom: 5px;
    padding-top: 45px;
    letter-spacing: -1px;
    line-height: 1;
}

.landpage {
    font-family: Open Sans;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    color: #95989A;
    padding-left: 103px;
    padding-right: 105px;
    padding-bottom: 5px;
    letter-spacing: -1px;
    line-height: 1;
}

h5 {
    font-family: Open Sans;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    color: #95989A;
    padding-left: 103px;
    padding-right: 105px;
    padding-bottom: 60px;
    letter-spacing: -1px;
    line-height: 1;
}

.summery {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #0F1519;
    padding-left: 103px;
    padding-right: 105px;
    padding-bottom: 20px;
    letter-spacing: -1px;
    line-height: 1;

}

.article {
    width: 1145px;
    height: 399px;
    padding-bottom: 66px;
    padding-left: 0px;
    padding-right: 0px;

}

.text {
    float: right;
    height: 399px;
    width: 780px;
    background-color: white;
    -webkit-box-shadow: 0 0 18px 1px #999;

}

.image {
   max-width: 100%
}

.content {
    max-width: 1366px;
    margin: 0 auto;
}

.button {
    background-color: #FFDD6D;
    border: none;
    color: #0F1519;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 23px;
}

.buttonposition {
    display: block;
    padding-left: 103px;
    padding-bottom: 30px;
}

.additional {
    font-family: Rufina;
    font-weight: bold;
    font-size: 32px;
    color: #0F1519;
    text-align: center;
    line-height: 34px;
    padding-bottom: 65px;
}

.footer {
    height: 80px;
    background-color: white;
    -webkit-box-shadow: 0 0 9px 3px #999;
}

#copyright {
    text-align: center;
    font-family: Rufina;
    font-size: 12px;
    font-weight: 300;
    color: #B9BDBF;
    padding-top: 30px;
}

.undertitle {
    text-align: center;
    padding-bottom: 40px;
    font-family: Open Sans;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    color: #95989A;
    letter-spacing: -1px;
    line-height: 1;
}

.articletitle {
    padding-bottom: 15px;
    font-size: 42px;
    line-height: 1.2;
}

.paragraphtitle {
    font-size: 35px;
    padding-bottom: 0;
    line-height: 1.2;
}

.contenttext {

    padding-top: 40px;
    font-family: Open sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    max-width: 550px;
    margin: 0 auto;
}

.question {
    padding-top: 20px;
    font-family: Open sans;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 34px;
    max-width: 600px;
    margin: 0 auto; 
}

.answer {
    padding-top: 20px;
    font-family: Open sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    max-width: 550px;
    margin: 0 auto;  
}

.hygge {
    text-decoration: none;
}

.media {
    padding-left: 180px;
    padding-top: 40px;
    margin: auto;
    max-width: 100%;
}
.mediavideo {
    padding-top: 40px;
    margin: auto;
    max-width: 100%;
}
.mediaas {
    padding-left: 350px;
    margin: auto;
    max-width: 100%;
}

#lastparagraph {
    padding-bottom: 65px;
}
.home:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #FFDD6D;
}
.country:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #FFDD6D;
}
.articles:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #FFDD6D;
}
.interviews:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #FFDD6D;
}
a {
	text-decoration: none;
}


/*Mobile version from 320px to 480px*/

@media only screen and (min-width: 320px) and (max-width:480px) {
	h1 {
	    color: #0F1519;	
		font-size: 25px;
		
	}
	
	.logo {
		margin-left: 5px;
	}
	.navigation-bar > a {
		display: none;
	}
	#search > a {
		display: none;
	}
	.nav-bur {
		padding-top: 25px;
    float: right;
	}
	.logo {
		position: absolute;
		top: 0;
	}
	.image {
		display: none;
	}
	.text {
		float: left;
	}
	.buttonposition {
	    padding-left: 90px;
	}
	.summery {
		padding-left: 10px;
    max-width: 290px;
	}
	.button {
		padding: 15px;
	}
	h5 {
		padding-bottom: 10px;
		padding-left: 10px;
	}
	.landpage {
		padding-left: 10px;
	}
	h3 {
		padding-left: 10px;
		max-width: 290px;
		font-size: 25px;
		font-weight: 800;
	}
	#subscribe {
		display: none;
	}
	h2 {
	font-size: 25px;
	}
	.additional {
		font-size: 25px;
		font-weight: 500;
	}
	a {
		text-decoration: none;
	}
	/*starting articles*/
	.contenttext {
		padding-left: 7px;
	}
	.media {
		padding-left: 0;
	}
	.socialmedia {
		display: none;
	}
	.mediaas {
		padding-left: 0;
	}
	.question {
		padding-left: 7px;
		font-weight: 700;
	}
	.answer {
		padding-left: 7px;
	}
    br {
        display: none;
    }
}
