/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */



        body {
            text-align: justify;
            text-align: center;
            
}

img {
    width: 100%;
    
}

h2 {
            font-size: 2em;
            margin: 2em 0em 0em 0em;
            font-family: 'Quicksand', sans-serif;
            color: #d2b48c;
        
    
        }

            /* Header
-----------------------------------------------------------------------------*/
        

        .tablink {
            background-color: #ffffff;
            color: #d2b48c;
            display: block;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px 10px;
            font-size: 17px;
            width: 100%;
            font-family: Georgia;
        }

        

        .tablink:hover {
            background-color: #f8f3ed;
        }
       

        /* Style the tab content */

        .tabcontent {
            color: black;
            display: none;
            padding: 2%;
            text-align: center;
        }

        #Latest {
            background-color: white;
        }

        #Local {
            background-color: white;
        }

        #Lists {
            background-color: white;
        }

        #Lagom {
            background-color: white;
        }

        /* Middle
-----------------------------------------------------------------------------*/


.firstcharacter {
            color: #d2b48c;
            float: left;
            font-family: Georgia;
            font-size: 5em;
            line-height: 60px;
            padding-top: 4px;
            padding-right: 10px;
            padding-left: 3px;
        }
        i {
            color: gray;
            text-align: justify;
            font-style: italic;
            line-height: 1em;
            


        }

        p {
            line-height: 1.5em;
            margin: 2em 0em 2em 0em;
            font-size: 1em;
            font-family: a;
                
            
        }
        
        h6 {
            line-height: 1.5em;
            margin: 2em 0em 2em 0em;
            font-size: 1em;
            font-family: 'Quicksand', sans-serif;
                
            
        }
        
        .first {
            font-size: 0.9em;
            line-height: 1.2;
            color: #404040;
            font-family: 'Quicksand', sans-serif;
    
        }

        
        article {
            max-width: 600px;
            align-items: center;
            margin: 0 auto;
    
}

        a {
            color: #d2b48c;
        }




        #email {
            margin-top: 3em;
            font-size: 1em;
            font-family: Georgia;
            font-style: italic;
            text-align: center;
            border-radius: 0.5em;
            border-top-color: #d2b48c;
            border-width: thin;



        }

        .subscribe {
            font-size: 1em;
            font-family: 'Quicksand', sans-serif;
            color: #d2b48c;
            
        }
        /* Footer
-----------------------------------------------------------------------------*/
        #myBtn {
            display: none;
            position: fixed;
            bottom: 3em;
            right: 4em;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #d2b48c;
            color: white;
            cursor: pointer;
            padding: 1em;
            border-radius: 10px;
        }

        #myBtn:hover {
            background-color: #f8f3ed;
        }

        footer p {
            height: auto;
            color: #d2b48c;
            font-size: 0.6em;
            text-align: left;
            padding-bottom: 1.2em;
            padding-left: 4em

        }
        /*  ---------------------------------------------- */

        @media only screen and (min-width: 500px) { 
            
            h2 {
            font-size: 4em;
            margin: 1.5em 0em 0em 0em;
            font-family: 'Quicksand', sans-serif;
            color: #d2b48c;
        }
            p {
            line-height: 1.5em;
            margin: 2em 0em 2em 0em;
            text-align: justify;
            text-justify: distribute;
            font-size: 1em;
            
                
            
        }
            h6 {
            line-height: 1.5em;
            margin: 2em 0em 2em 0em;
            text-align: justify;
            text-justify: distribute;
            font-size: 1em;
            font-family: 'Quicksand', sans-serif;
        }

            article img {
                width: 90%;
        }
       
            .tablink {
            background-color: #ffffff;
            color: #d2b48c;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
            font-family: Georgia;
        }
       
}
